
@media (max-width: 1276px) {
  html {
    font-size: 8px;
  }
} 

@media (max-width: 992px) {
  html {
    font-size: 8px;
  }

  .page {
    grid-template-columns: 1.7fr 1fr;
    grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "footer footer";
  }
  .main {
    justify-self: center;
    padding: 0;
  }
}