@media (min-width: 1801px) {
  html {
    font-size: 10px;
  }

  .header-mob {
    display: none;
  }
}

@media (max-width: 1800px) {
  html {
    font-size: 10px;
  }

  .header-mob {
    display: none;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1110px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 8px;
  }
  body.lock {
    overflow: hidden;
  }

  .main {
    grid-template-rows: [header] auto [body] auto [aside] auto [footer] auto;
    grid-template-columns: [left] 1fr [content] 10fr [right] 1fr;
  }
  .aside {
    grid-row: aside;
    grid-column: content;
  }
  .content {
    width: 100%;
    margin: 0;
  }

  /* header */

  .header {
    position: static;
  }
  .header-desk {
    display: none;
  }
  .header-mob {
    position: sticky;
    top: 0;
    z-index: 50;
  }
  .header-mob {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
  }
  .header-mob {
    height: 10.2rem;
    border-bottom: 0.2rem solid #c4c4c4;
    box-shadow: 0 0.2rem 0.1rem rgb(0 0 0 / 25%);
    background: var(--light);
  }
  .header-bottom {
    grid-template-columns: 1fr 10fr 1fr;
  }
  .header-container-top,
  .header-container-bottom {
    width: 100%;
  }

  /** header mobile */

  .mob-left {
    display: flex;
    align-items: center;
    column-gap: 6.5rem;
  }
  .mob-logo {
    z-index: 1000;
  }
  .mob-logo > img {
    width: 7.7rem;
  }
  .mob-button {
    z-index: 1000;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .mob-btn-img {
    width: 4rem;
  }
  .mob-button.active {
    position: absolute;
    right: 3rem;
  }
  .asd {
    width: 2.5rem;
  }
  .nav {
    display: none;
  }
  .mob-input {
    display: none;
  }

  .mob-nav.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--light);
    overflow: auto;
    padding: 20rem 3rem;
    row-gap: 7rem;
  }
  .mob-nav.active::before {          /*! подложка при открытом меню бургер*/
    content: "";                     /*! под нее уходит список при скроле*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10.3rem;
    background-color: var(--light);
    box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
    z-index: 15;
  }
  .mob-input.active {
    display: block;
    width: 100%;
    font-size: 2rem;
    color: var(--gray);
    background: url("../img/other/icon-map.svg") 2rem center no-repeat;
    background-size: 2.5rem;
    border: 0.1rem solid #000000;
    border-radius: 0.5rem;
    outline: none;
    box-sizing: border-box;
    padding: 2rem 0 2rem 6.5rem;
  }
  .nav.active {
    display: block;
  }
  .nav.active .nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 7rem;
  }
  .nav a {
    font-size: 2rem;
  }

  /* content */

  .content {
    justify-self: center;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    row-gap: 6rem;
    margin: 0;
  }
  .title {
    font-size: 3.3rem;
    width: 100%;
    text-align: center;
    margin-top: 9.5rem;
    margin-bottom: 4.6rem;
  }
  .card {
    margin: 0 auto;
  }
  .card-about {
    width: 94%;
    justify-self: center;
  }

  /* aside */

  .aside {
    justify-self: center;
    padding: 0;
    margin: 8rem 0;
  }
  .card-aside {
    height: 25rem;
  }

  /* arrow */

  .arrow-btn {
    grid-row: aside;
    grid-column: content;
    justify-self: flex-end;
    bottom: 43rem;
    margin: 0;
  }

  /* footer */

  .footer {
    height: 35rem;
  }
  .footer-container {
    width: 100%;
    flex-direction: column;
    row-gap: 7rem;
  }
  .footer ul {
    flex-direction: column;
    row-gap: 2rem;
    justify-content: space-evenly;
  }
  .icon {
    column-gap: 4.8rem;
  }

  /* arrow */

  .arrow-btn {
    grid-row: footer;
    /* justify-self: center; */
    align-self: center;
    right: 4%;
    bottom: 10rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
  .main {
    grid-template-columns: [left] auto [content] 10fr [right] auto;
  }
  .content {
    padding: 0 3rem;
    background-color: brown;
  }

  /* header */

  .header-mob {
    grid-template-columns: 0.5fr 14fr 0.5fr;
  }
  .header-container-top {
    padding: 0%;
  }
  .mob-left {
    column-gap: 3.5rem;
  }
  .header-bottom {
    grid-template-columns: 0.5fr 14fr 0.5fr;
  }

  /* content */

  .cards {
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
  }
  .card-about {
    width: 100%;
  }
}

@media (max-width: 374px) {
  .content {
    padding: 0 1.5rem;
  }
  /* header */

  .buffer-container {
    padding: 0 1rem;
  }
  .mob-left {
    column-gap: 1.5rem;
  }
  .header-top-right {
    column-gap: 0.7rem;
  }
}

@media (max-width: 320px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
