@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&family=Work+Sans:wght@400;600;700&display=swap");

html {
  --light: #fff;
  --black: #000;
  --orange: #ff6c01;
  --orange-btn: #ef781a;
  --green: #69a042;
  --green-btn: #00d008;
  --gray: #999999;
  --back: #ececec;
  font-size: 10px;
}
body {
  max-width: 1800px;
  margin: 0 auto;
  background-color: #999999;
}

/* #region common */

.button {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #ffffff;
  border: none;
  border-radius: 0.6rem;
  background: var(--orange);
  box-shadow: 0 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.25);
}
.font-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--black);
}
.font-card-high {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--black);
}
.font-card {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #a2a2a2;
}

/* #region Header */

.header {
  position: sticky;
  background: var(--light);
}
.header-top {
  display: flex;
  align-items: center;
  border-bottom: 0.2rem solid #c4c4c4;
  box-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.25);
  padding: 1.4rem 16.1% 0.9rem;
}
.logo {
  display: inline-block;
  margin-right: 5.2%;
}
.logo > img {
  width: 7.7rem;
}
.header-input {
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--gray);
  width: 45.2rem;
  height: 4.3rem;
  background: url("../img/icon-map.svg") 2rem center no-repeat;
  border: 0.1rem solid #000000;
  border-radius: 0.5rem;
  outline: none;
  margin-right: 30%;
  padding-left: 6.5rem;
}
.header-btn {
  background: var(--orange-btn);
  padding: 1.2rem 3rem;
  margin-right: 1.2%;
}
.header-btn-green {
  background: var(--green-btn);
  padding: 1.2rem 3rem;
}
.header-bottom {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  padding: 5.2rem 0 3.4rem 16.1%;
}
.chapter {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4.4rem;
  color: #000000;
  margin: 0;
}

/* #endregion */

/* #region Main */

/* list */
.store {
  display: grid;
  grid-template-columns: 14.6% 37.4% 45%;
  background: var(--back);
  padding: 4.2rem 0 0 0;
}
.list {
  grid-column: 2;
}
.list > ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list a {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-decoration: none;
  color: #7b7b7b;
  padding: 0.5rem 2.6rem;
}
.list a:hover {
  color: #343434;
  background: #b8b8b8;
  border-radius: 1rem;
  padding: 0.5rem 2.6rem;
}

/* offer */
.offer {
  grid-column: 2/4;
  margin-top: 4.3rem;
}
.title {
  margin: 0 0 1.6rem 0;
}
.cards {
  display: grid;
  grid-template-columns: 27.5% 27.5% 27.5%;
  grid-template-rows: 50% 50%;
}
.card {
  width: 230px;
  height: 275px;
  background: var(--light);
  box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.card-foto {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}
.card > div:first-child {
  height: 50%;
}
.card > div:last-child {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1.6rem 2rem;
}
.price {
  display: flex;
  justify-content: space-between;
}
.heart {
}
